<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Api">
            <directory>tests/Api</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <!-- Base dédiée, supprimée et recréée à chaque exécution (voir tests/bootstrap.php) -->
        <env name="DB_DATABASE" value="vsh_homecare_test" force="true"/>
        <env name="SMS_DRIVER" value="log" force="true"/>
        <env name="PUSH_DRIVER" value="log" force="true"/>
        <ini name="error_reporting" value="-1"/>
    </php>
</phpunit>
